* {
    box-sizing: border-box;
    margin: 0;
    
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poiret One, Helvetica, sans-serif;
    cursor: url("../images/light-small.png"), auto;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}



$myColorOne: white;
$myColorTwo: #41D395;
$myColorTree: #1C1C1C;
$myColorFour: #E27866;
$myColorFive: #6696E2;

$myPadding: 115px 0;
$mySecondPadding: 60px 0;