.soul {
    display: flex;
    height: 800px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 25px;

    margin:0;
    background-color: #3d4366;
    background-image: linear-gradient(black 0%, #3d4366 25%, #3d4366 75%, black 100%);
    

    

    .container {
        display: flex;
        justify-content: space-between;
       
        height: 45%;
        width: 1136px;
        padding: 0;
        margin:0;
        position: relative;
        border: 2px solid yellow;
        font-size:20px;
        line-height: 150%;

        

        div {
            display:flex;
            height:100%;
            width: 500px;
            border: 5px solid purple;
            text-align: left;
            flex-direction: column;

            

            

            



            &:nth-of-type(2) {
                width: 20px;
                height: 20px;
                border:none;
            }

            

            &:last-of-type {
                text-align: right;
            }

            p {
                padding-bottom:20px;
                font-size: 25px;
                font-weight:bold;
                

                

                    
                
            

            }

           

            

        }

       
    }
        
    }

    


    .horizon {
        position:relative;
        top:80px;
        // left:500px;
        width: 20px;
        height: 20px;
        background: url("/images/small-star.png");
        animation: fadeIn2 ease-in-out 5s;
        animation-iteration-count: infinite;
        
    }
    // @keyframes prop-600 {
    //     0% {
    //         transform: translateY(-40px);
    //         opacity: 0;
        
        // 5% {
        //     opacity:0;
        // } 

        // 10% {
        //     opacity:0;
        // } 
        
        // 20% {
        //     opacity:1;
        // } 

        // 50% {
        //     opacity:1;
        // } 

        // 93% {
        //     opacity:0;
        // }
        
        // 94% {
        //     opacity:0;
        // }

        // 20% {
        //     transform: scale(1) rotate(45deg);
        //     opacity: 1;
        // }
        
    //     100% {
    //         transform: translateY(-40px);
    //         opacity:1;
    //     }
    // }

    // @keyframes fadeIn {
    //     0% {
    //       opacity:0;
    //     }
    //     100% {
    //       opacity:1;
    //     }
    //   }

      @keyframes fadeIn2 {
        0%,100% { opacity: 0 }
        50% { opacity: 1;
            transform: rotate(25deg) }
      }

    
            







  
  